/*@import "nodoku-components/styles/hljs/a11y-dark";*/
@import "nodoku-components/esm/hljs/styles/prefixed-a11y-light.css";
@import "nodoku-components/esm/hljs/styles/prefixed-a11y-dark.css";
/*@import "~/node_modules/nodoku-components/esm/hljs/styles/prefixed-a11y-light.css";*/
/*@import "~/node_modules/nodoku-components/esm/hljs/styles/prefixed-a11y-dark.css";*/


@tailwind base;
@tailwind components;
@tailwind utilities;

.font-normal a {
    color: rgb(217, 119, 6);
    text-decoration: underline;
    font-weight: 500;
}

svg {
    display: inline-block;
}