/*@import "nodoku-components/styles/hljs/a11y-dark";*/
@import "nodoku-components/esm/hljs/styles/prefixed-a11y-light.css";
@import "nodoku-components/esm/hljs/styles/prefixed-a11y-dark.css";
/*@import "~/node_modules/nodoku-components/esm/hljs/styles/prefixed-a11y-light.css";*/
/*@import "~/node_modules/nodoku-components/esm/hljs/styles/prefixed-a11y-dark.css";*/


@tailwind base;
@tailwind components;
@tailwind utilities;

.font-normal a {
    /*color: rgb(217, 119, 6);*/
    text-decoration: underline;
    font-weight: 500;
}

svg {
    display: inline-block;
}

.fiCircle {
    width: 1.5rem !important;
    height: 1.5rem !important;
    font-size: 1.5rem !important;
    border-radius: 100%;
    border: none;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
    background: white;
}

.languages-card .fiCircle {
    width: 3rem !important;
    height: 3rem !important;
}

/*.listItemStyle a {*/
/*    color: #d97706;*/
/*    text-decoration: underline;*/
/*}*/
